body {
	margin: 0px;
	background-color: #d4ac6e;
	color: white;
}

.hidedetails{
	display: none;
	float: right;
}

.showdetails{
	display:inline-block;
	float:right;
}

#censcreen{
	margin:0 auto;
	position: relative;
	top: 40px;
	min-height: 80%;
	max-height: 80%;
	max-width: 50%;
	
}

.wrapper{
	/*
	I DONT UNDERSTAND CSS
	*/
}

#leftNAV{
	position:absolute;
	top: 40px;
}

.lmbut{
	z-index:999;
	font-size: 20px;
	text-align: left;
	position:absolute;
	width: 130px;
	left: -95px;
	height:35px;
}

.lmbut:hover{
	left:0px;
	transition: 0.25s;
}

.lmbut:active{
	background-color: darkred;
}

.activelm{
	background-image:none;
	background-color:darkblue;
	left:0px;
}

#lminv{
	top:140px;
	background-image:url(/img/at/invicon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

#lmcraft{
	top:175px;
	background-image:url(/img/at/crafticon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

#lmgather{
	top:210px;
	background-image:url(/img/at/gathericon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

#lmfight{
	top:0px;
	background-image:url(/img/at/fightmicon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

#lmheal{
	top:35px;
	background-image:url(/img/at/healmicon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

#lmtravel{
	top:70px;
	background-image:url(/img/at/travelmicon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

#lmwork{
	top: 105px;
	background-image:url(/img/at/workmicon.png);
	background-size: 35px 35px;
	background-repeat:no-repeat;
	background-position:right center;
}

.midwin{
	width:65%;
	position:absolute;
	top:40px;
	left: 140px;
}

#fightwin{
	display: none;
}

.show{
	display: block;
}

#herostats{
	min-width: 15%;
	position:absolute;
	right: 20px;
	top: 40px;
	border: 1px solid white;
}


#herotable{
	margin-left:3;
}

#hpiconcell{
	width: 25px;
	height: 25px;
	background-image: url(/img/at/hpicon.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
}

#mapiconcell{
	
}

#mapicon{
	width: 25px;
	height: 25px;
	background-image:url(/img/at/locicon.png);
	background-size: 25px 25px;
}

#location{
	font-size:25px;
}

#hpcur{
	font-size: 25px;
}

#hpmax{
	font-size: 25px;
}

#slash{
	font-size: 25px;
}

		.matquantityhide{
			display: none;
		}

		.collapseCont{
			display: none;
		}
		.show{
			display: block;
		}
		.selectedcraft{
			background-color: darkgray;
		}